/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

.full-screen-container {
  height: 93vh; 
  width: 100vw; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.full-screen-content {
  color :black; 

}
.sexy-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.sexy-button:hover {
  background-color: #0056b3;
}
